{% load static %}
<div class="w-full self-center">
  <nav>
    <ul
      class="navbar flex flex-col items-center justify-center space-y-5 text-center lg:flex-row lg:justify-start lg:space-y-0 lg:space-x-10">
      <li>
        <a href="{% url 'pages:home' %}"
          class="menu-scroll active font-heading text-dark-text hover:text-primary inline-flex items-center justify-center text-center text-base dark:hover:text-white">
          Accueil
        </a>
      </li>
      <li>
        <a href="#features"
          class="menu-scroll font-heading text-dark-text hover:text-primary inline-flex items-center justify-center text-center text-base dark:hover:text-white">
          Fonctionnalités
        </a>
      </li>
      <li class="submenu-item group relative">
        <a href="javascript:void(0)"
          class="submenu-taggler font-heading text-dark-text hover:text-primary inline-flex items-center justify-center text-center text-base dark:hover:text-white">
          Pages
          <span class="pl-3">
            <svg width="14" height="8" viewBox="0 0 14 8" class="fill-current">
              <path d="M6.54564 5.09128L11.6369 0L13.0913 1.45436L6.54564 8L0 1.45436L1.45436 0L6.54564 5.09128Z" />
            </svg>
          </span>
        </a>
        <ul
          class="submenu hidden space-y-5 bg-white pt-5 transition duration-300 lg:invisible lg:absolute lg:top-[120%] lg:block lg:w-[350px] lg:rounded-sm lg:border lg:px-8 lg:pb-5 lg:text-left lg:opacity-0 lg:group-hover:visible lg:group-hover:top-full lg:group-hover:opacity-100 dark:bg-transparent dark:lg:border-transparent dark:lg:bg-[#2C3443]">
          <li>
            <a href="{% url 'pages:events' %}"
              class="font-heading text-dark-text hover:text-primary inline-flex items-center justify-center text-center text-base dark:hover:text-white">
              Événements
            </a>
          </li>
          <li>
            <a href="{% url 'pages:poste' %}"
              class="font-heading text-dark-text hover:text-primary inline-flex items-center justify-center text-center text-base dark:hover:text-white">
              Poste
            </a>
          </li>
          <li>
            <a href="404.html"
              class="font-heading text-dark-text hover:text-primary inline-flex items-center justify-center text-center text-base dark:hover:text-white">
              Erreur 404
            </a>
          </li>
          <li>
            <a href="{% url 'accounts:signin' %}"
              class="font-heading text-dark-text hover:text-primary inline-flex items-center justify-center text-center text-base dark:hover:text-white">
              Se connecter
            </a>
          </li>
          <li>
            <a href="{% url 'accounts:signup' %}"
              class="font-heading text-dark-text hover:text-primary inline-flex items-center justify-center text-center text-base dark:hover:text-white">
              S'inscrire
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#support"
          class="menu-scroll font-heading text-dark-text hover:text-primary inline-flex items-center justify-center text-center text-base dark:hover:text-white">
          Assistance
        </a>
      </li>
    </ul>
  </nav>
</div>